@model  Youtube.ViewModels.HomeVideoViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <title>Youtube</title>
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1_dW9uDxHWZeA6K9kjI4WeizbpzqsThWph3NGqxlpTG4yE1SbQ">
        <script src="~/JavaScript/HomePage.js"></script>
        <link href="~/Css/HomePage.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="container-fluid">
                <nav class="navbar navbar-inverse" id="navBar">
                    <div class="container-fluid" id="containerNavbar">
                        <div class="navbar-header">
                            <a href="http://localhost:55157/Youtube/Home" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Youtube</a>
                        </div>
                        <div class="nav navbar-nav navbar-right">
                            <div class="input-group">
                                <input type="text" name="searchInput" placeholder="Search" class="form-control" id="searchInput">
                                <div class="input-group-btn">
                                    <a onclick="searchAll()"><img id="search" src="~/uploads/search.png"></a>
                                </div>
                            </div>
                        </div>
                        <ul class="nav navbar-nav navbar-right" id="navbarLogin">
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <h2>Top 5 videos</h2>
        <div class="container-fluid">
            <div class="container-fluid" id="videoContainer">
                <div class="row">
                    @foreach (var video in Model.Top5Videos)
                    {
                        <div class="col-lg-3">
                            <div class="Video">
                                <a href="http://localhost:55157/Youtube/videos/@video.Id" class="videoName">
                                    <img src="~/uploads/@video.PhotoUrl" class="imgVideo">
                                    <div class="caption">
                                        <h3>@video.Name</h3>
                                    </div>
                                </a>
                                <a href="http://localhost:55157/Youtube/users/@video.User.Id" class="ownerName"><h3>@video.User.Username</h3></a>
                                <h4>@video.Description<br>@video.NumberOfViews views<br>@video.CreationDate</h4>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <h2>All videos</h2>
        <div class="container-fluid">
            <div class="container-fluid" id="videoContainer">
                <div class="row">
                    @foreach (var video in Model.AllVideos)
                    {
                        <div class="col-lg-3">
                            <div class="Video">
                                <a href="http://localhost:55157/Youtube/videos/@video.Id" class="videoName">
                                    <img src="~/uploads/@video.PhotoUrl" class="imgVideo">
                                    <div class="caption">
                                        <h3>@video.Name</h3>
                                    </div>
                                </a>
                                <a href="http://localhost:55157/Youtube/users/@video.User.Id" class="ownerName"><h3>@video.User.Username</h3></a>
                                <h4>@video.Description<br>@video.NumberOfViews views<br>@video.CreationDate</h4>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <footer>
            <p>
            Copyright &#169 2018 Luka Bulatovic</p>
        </footer>
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    </body>
</html>