@using Youtube.ViewModels;
@model  SingleUserDTO


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Username channel</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1_dW9uDxHWZeA6K9kjI4WeizbpzqsThWph3NGqxlpTG4yE1SbQ">
    <script src="~/JavaScript/UserPage.js"></script>
    <link href="~/Css/UserPage.css" rel="stylesheet" />
</head>
<body >
    <div class="container-fluid">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse" id="navBar">
                <div class="container-fluid" id="containerNavbar">
                    <div class="navbar-header">
                        <a href="http://localhost:55157/Youtube/Home" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Youtube</a>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <div class="input-group">
                            <input type="text" name="searchInput" placeholder="Search" class="form-control" id="searchInput">
                            <div class="input-group-btn">
                                <a onclick="searchAll()"><img id="search" src="~/uploads/search.png"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right" id="navbarLogin"></ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid" id="glavniContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="container" id="KanalContainer">
                        <img src="~/uploads/@Model.profilePictureUrl" class="avatar">
                        <br /><h2>@Model.Username</h2>
                    </div>
                    <div class="col-lg-4">
                        <div id="userButtons">

                            <script>
                                fillUserDiv('@Model.Role'+','+'@Model.Blocked'+','+'@Model.Id');
                                existFollow(@Model.Id);
                            </script>
                            
                        </div>
                    </div>
                </div>
                
                <div class="row-lg-4" id="KanalContainerDescription">
                    <div class="container-fluid" id="UserInfoDiv">
                        <div class="row-lg-2">
                            <h3 class="userInfoH3">Information about @Model.Username channel</h3>
                        </div>
                        <div class="row-lg-2">
                            <h3 class="userInfoH3">First name: @Model.FirstName</h3>
                        </div>
                        <div class="row-lg-2">
                            <h3 class="userInfoH3">Last name: @Model.LastName</h3>
                        </div>
                        <div class="row-lg-2">
                            <h3 class="userInfoH3">Email: @Model.Email</h3>
                        </div>
                        <div class="row-lg-2">
                            <h3 class="userInfoH3">Registration date: @Model.RegistrationDate</h3>
                        </div>
                        <div class="row-lg-2">
                            <h3 class="userInfoH3">Channel description: @Model.Description</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>User videos</h2>
        <div class="container-fluid" id="MyVideoContainer">
            <div class="row">
                <div class="col-lg-12">
                    <div class="addVideoDiv">
                        
                    </div>
                </div>
                @foreach (var video in Model.UsersVideos)
                {
                    <div class="col-lg-3">
                        <div class="Video">
                            <a asp-controller="Video" asp-action="GetVideoById" asp-rout-id="@video.Id" id="videoName">
                                <img src="~/uploads/@video.PhotoUrl" class="imgVideo">
                                <div class="caption">
                                    <h3>@video.Name</h3>
                                </div>
                            </a>
                            <a href="http://localhost:55157/Youtube/users/@Model.Id" id="ownerName"><h3>@Model.Username</h3></a>
                            <h4>@video.Description<br>@video.NumberOfViews views<br>@video.CreationDate</h4>
                        </div>
                    </div>
                }
            </div>
        </div>

        <h2>Liked videos</h2>
        <div class="container-fluid" id="likedVideosContainer">
            <div class="row">
                @foreach (var video in Model.LikedVideos)
                {
                    <div class="col-lg-3">
                        <div class="Video">
                            <a asp-controller="Video" asp-action="GetVideoById" asp-rout-id="@video.Id" id="videoName">
                                <img src="~/uploads/@video.PhotoUrl" class="imgVideo">
                                <div class="caption">
                                    <h3>@video.Name</h3>
                                </div>
                            </a>
                            <a href="http://localhost:55157/users/@video.Owner.Id" id="ownerName"><h3>@video.Owner.Username</h3></a>
                            <h4>@video.Description<br>@video.NumberOfViews views<br>@video.CreationDate</h4>
                        </div>
                    </div>
                }
            </div>
        </div>

        <h2>Followers</h2>
        <div class="container-fluid">
            <div class="row">
                @foreach (var user in Model.Followers)
                {
                    <div class="col-lg-3">
                        <div class="FollowersContainer">
                            <a href="http://localhost:55157/Youtube/users/@user.Id">
                                <img src="~/uploads/@user.profilePictureUrl" class="imgVideo">
                                <div class="cufCaption">
                                   <h3>@user.Username</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <h2>Following</h2>
        <div class="container-fluid">
            <div class="row">
                @foreach (var user in Model.Following)
                {
                    <div class="col-lg-3">
                        <div class="FollowersContainer">
                            <a href="http://localhost:55157/Youtube/users/@user.Id">
                                <img src="~/uploads/@user.profilePictureUrl" class="imgVideo">
                                <div class="cufCaption">
                                    <h3>@user.Username</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <footer>
        <p>
            Copyright &#169 2018 Luka Bulatovic
        </p>
    </footer>
    
</body>
</html>