@using Youtube.ViewModels

@model SingleVideoDTO

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1_dW9uDxHWZeA6K9kjI4WeizbpzqsThWph3NGqxlpTG4yE1SbQ" />
    <script src="~/JavaScript/VideoPage.js"></script>
    <link href="~/Css/VideoPage.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse" id="navBar">
                <div class="container-fluid" id="containerNavbar">
                    <div class="navbar-header">
                        <a href="http://localhost:55157/Youtube/Home" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Youtube</a>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <div class="input-group">
                            <input type="text" name="searchInput" placeholder="Search" class="form-control" id="searchInput">
                            <div class="input-group-btn">
                                <a onclick="searchAll()"><img id="search" src="~/uploads/search.png"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right" id="navbarLogin"></ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container-fluid" id="VideoContainer">
            <div class="row">
                <div class="col-lg-8">
                    <div class="container">
                        <iframe id="videoFrame" width="950" height="550" src="@Model.VideoUrl" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen ></iframe>
                        <div class="caption">
                            <input class="videoInformationInput" id="videoNaziv" type="text" name="videoNaziv" value="@Model.Name" readonly>
                        </div>
                        <div class="container">

                            <input class="videoInformationInput" id="videoBrPregleda" type="text" name="videoNaziv" value="@Model.NumberOfViews views" readonly>
                            <div class="floatRight">
                                <a onclick="dislikeVideo(@Model.Id)"><img id="btnUnlike" src="~/uploads/red-thumbs-down-md.png"></a>
                                @if (Model.AllowRaiting == true)
                                {
                                    <input class="videoInformationInput"  id="videoBrLajkova" type="text" name="videoNaziv" value="@Model.NumberOfDislikes   @Model.NumberOfLikes" readonly>
                                }
                                <a onclick="likeVideo(@Model.Id)"><img id="btnLike" src="~/uploads/green-thumbs-up-md.png"></a>
                            </div>
                        </div>
                        <div class="container" id="videoButtonsDiv">

                        </div>
                        <div class="container">
                            <div class="col-lg-8" id="videoInformationContainer">
                                <div class="container">
                                    <p class="viewCV">
                                        <a href="http://localhost:55157/Youtube/users/@Model.Owner.Id" id="ownerName"><h3 id="ownerUsername">@Model.Owner.Username</h3></a>
                                        <textarea rows="4" cols="30" class="videoInformationInput" id="videoOpis" readonly>@Model.Description</textarea><br />
                                        <input class="videoInformationInput" id="videoNaziv" type="text" name="videoDate" value="Posted @Model.CreationDate" readonly>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4" id="editVideoButtons">
                                <div class="container" id="editVideoButtonsDiv">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="container-fluid" id="komentariContainer">
                                <div class="col-lg-10">
                                    <input type="text" placeholder="enter comment here" id="komentarInput">
                                </div>
                                <div class="col-lg-2" id="komentarInputButtons">
                                    <div class="container-fluid" id="videoPostButtonsDiv">
                                        <button id="btnPost" class="btn btn-success" onclick="postComment(@Model.Id)">Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" id="glavniKomentarDiv">
                        @if (Model.AllowComments == true)
                        {
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="container-fluid">
                                    <div class="komentarContainer">
                                        <div class="col-log-3" id="komentarDiv'+@comment.Id+'">
                                            <a href="http://localhost:55157/Youtube/users/@comment.User.Id" id="ownerUsername">
                                                <img src="~/uploads/@comment.User.profilePictureUrl" class="avatar">
                                                @comment.User.Username
                                            </a><br />
                                            <textarea id="@comment.Id@comment.Description" rows="4" cols="30" class="komentarOpis" readonly>@comment.Description</textarea><br />
                                            <input class="videoInformationInput" id="komentarDatum" type="text" value="Posted @comment.CreationDate" readonly><br />
                                            <div class="containerButtonsKomentar">
                                                <a onclick="dislikeComment(@comment.Id)" class="AnchorLikeComment"><img id="btnUnlike" src="~/uploads/red-thumbs-down-md.png"></a>
                                                <input id="videoBrLajkova" type="text" name="videoNaziv" value="@comment.NumberOfDislikes   @comment.NumberOfLikes" readonly>
                                                <a onclick="likeComment(@comment.Id)" class="AnchorDislikeComment"><img id="btnLike" src="~/uploads/green-thumbs-up-md.png"></a>
                                            </div>
                                        </div>
                                        <div class="col-log-2" id="@comment.Id" style="float: right; margin-top: -4em; margin-left: -1em;">
                                            <button class="editCommentButton" name="post" id="editComment" onclick="editComment(@comment.Id, '@comment.Description')">Edit</button>
                                            <button class="deleteCommentButton" id="deleteVideo" onclick="alertDeleteComment(@comment.Id)">Delete</button>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h2>@Model.Owner.Username doesn't allow comments</h2>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>
            Copyright &#169 2018 Luka Bulatovic
        </p>
    </footer>
</body>
</html>