@model Youtube.ViewModels.VideoDTO

<div class="col-lg-3">
    <div class="Video" style="text-align:center;">
        <a href="http://localhost:55157/videos/@Model.Id" style="color:#00961a;font-weight: bold;">
            <img src="~/uploads/@Model.PhotoUrl" class="imgVideo" style="height: 200px;width: 300px;border-radius: 25px;">
            <div class="caption">
                <h3>@Model.Name</h3>
            </div>
        </a>
        <a href="http://localhost:55157/users/@Model.User.Id" style="color:#00961a;"><h3>@Model.User.Username</h3></a>
        <h4 style="margin-bottom:1em; color:white;">@Model.Description<br>@Model.NumberOfViews views<br>@Model.CreationDate</h4>
    </div>
</div>